
:root {
	--blue: #007bff;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
	--breakpoint-xs: 0;
	--breakpoint-sm: 576px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 992px;
	--breakpoint-xl: 1200px;
	--font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	
	--font-size: 15px;

	font-size: var(--font-size);
	font-family: "Open Sans", sans-serif;

	--dark1: rgb(30, 30, 30);
	--grey1: rgb(77, 77, 77);
	--grey2: rgb(176, 176, 176);
	
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: white;
}
main {
	width: 100vw;
	height: 100vh;
	display: block;
}

canvas {
	display: block;
	background-color: var(--dark1);
	width: 100%;
	height: 100%;
	border: 0.2px solid red;
}

.hovering-buttons {
	position: fixed;
	top: 2em;
	left: 2em;
	background-color: var(--grey2);
}
#inputNumberOfBoids {
	width: 3rem;
}
